In [1]:
import math

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Carregamento dos dados

In [2]:
data_set_unformatted = pd.read_csv("./CompiledMeanDataRounded.csv", decimal=",", parse_dates=["Data"], infer_datetime_format=True).drop_duplicates()
data_set_unformatted.head()

,Data,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,Flotation Column 01 Air Flow,Flotation Column 02 Air Flow,...,Flotation Column 07 Air Flow,Flotation Column 01 Level,Flotation Column 02 Level,Flotation Column 03 Level,Flotation Column 04 Level,Flotation Column 05 Level,Flotation Column 06 Level,Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate
0,2017-03-29 12:00:00,60.18,9.35,1063.45,379.6,400.97,9.53,1.55,200.04,195.57,...,249.99,755.38,728.0,862.04,477.46,452.56,478.22,469.82,66.45,1.37
1,2017-03-29 13:00:00,60.18,9.35,2032.86,322.95,400.47,9.71,1.54,199.99,195.13,...,250.07,848.67,777.59,869.45,483.95,469.64,471.67,462.91,66.58,1.43
2,2017-03-29 14:00:00,60.18,9.35,1426.1,474.89,399.15,9.69,1.65,200.03,195.58,...,250.11,852.0,776.32,879.69,455.97,453.18,447.52,453.63,66.64,1.33
3,2017-03-29 15:00:00,60.18,9.35,616.73,395.13,398.94,9.86,1.56,199.94,195.61,...,250.04,855.89,780.4,882.1,449.4,448.52,450.87,448.41,66.4,1.3
4,2017-03-29 16:00:00,59.54,9.56,1369.26,318.08,400.82,9.94,1.54,199.89,196.25,...,250.12,851.58,784.47,884.86,450.22,451.9,451.58,449.39,63.65,5.48

In [3]:
data_set_unformatted = data_set_unformatted.to_numpy()
print(data_set_unformatted.shape)

(3948, 24)

## Normalização dos dados

In [4]:
data_set_unformatted = data_set_unformatted[:,1:-1]
print(data_set_unformatted.shape)

(3948, 22)

In [5]:
data_set_unformatted = np.array(data_set_unformatted, dtype=np.float32)

In [6]:
data_set = np.empty(data_set_unformatted.shape)
for i in range(data_set_unformatted.shape[1]):
    tag_max = np.max(data_set_unformatted[:, i])
    tag_min = np.min(data_set_unformatted[:, i])
    scope = tag_max - tag_min
    
    for j in range(data_set_unformatted.shape[0]):
        data_set[j, i] = (data_set_unformatted[j, i] - tag_min)/scope

# Divisão do dados em treinamento e teste

In [7]:
# Separando em conjunto de treinamento e teste
training_data = data_set[:2775,:]
test_data = data_set[2769:,:]

print(f"Training Samples: {training_data.shape[0] - 6}")
print(f"Test Samples: {test_data.shape[0] - 6}")

Training Samples: 2769
Test Samples: 1173

In [8]:
FEATURES_INPUT = data_set.shape[1] * 6
print(FEATURES_INPUT)

132

In [9]:
training_input = np.empty((training_data.shape[0] - 6, FEATURES_INPUT), dtype=np.float32)
training_label = np.empty((training_data.shape[0] - 6, 1), dtype=np.float32)

for i in range(6, training_data.shape[0]):
    training_input[i - 6,:] = training_data[i:i-6:-1,:].reshape(FEATURES_INPUT)
    training_label[i - 6] = training_data[i, 21]

print(training_input.shape)
print(training_label.shape)

(2769, 132)
(2769, 1)

In [10]:
test_input = np.empty((test_data.shape[0] - 6, FEATURES_INPUT), dtype=np.float32)
test_label = np.empty((test_data.shape[0] - 6, 1), dtype=np.float32)

for i in range(6, test_data.shape[0]):
    test_input[i - 6,:] = test_data[i:i-6:-1,:].reshape(FEATURES_INPUT)
    test_label[i - 6]   = test_data[i, 21]

print(test_input.shape)
print(test_label.shape)

(1173, 132)
(1173, 1)